#Ignore the build directory (and its sub-directories):
build
#Ignore backup files from some Unix editors,
*~
*.swp
*.bak

#Ignore patches and any original files created by patch command
*.diff
*.patch
*.orig
*.rej

#Ignores libreoffice lock file
.~lock.*

#Ignore these hidden files from Mac OS X
.DS_Store

#Ignore hidden files from Dolphin window manager
.directory

#Ignore all compiled python files (e.g. from running the unit tests):
*.pyc
*.pyo

#Ignore the eclise project files and pydev file
.project
.pydevproject
.settings

#Ignore third_party directory (and its sub-diretories)
third_party
